<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recode Brasil Agência de viagens :: Contato</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom shadow-sm mb-3">
    <div class="container">
     <a class="navbar-brand" href=""><b>Recode Brasil</b></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
</button>

       <div class="align-self-end">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="./index">Principal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./destino">Destino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./promoções">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./contato">Fale conosco</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./formUsuario">Cadastre-se</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
  </div>
  <main class="flex-fill">
    <div class="container">
      <di class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
          <form class="form-container">
            <h2>Fale conosco</h2>
            <br>

            <div class="form-floating mb-3">
              <input type="text" id="txtNomeCompleto" class="form-control" placeholder=" " autofocus>
              <label for="txtNomeCompleto">Nome Completo</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" id="txtEmail" class="form-control" placeholder=" ">
              <label for="txtEmail">E-mail</label>
            </div>
            <div class="form-floating mb-3">
              <textarea type="email" id="txtMensagem" class="form-control" placeholder=" "
                style="height: 200px;"></textarea>
              <label for="txtMensagem">Mensagem</label>
            </div>
            <button type="button"
              onclick="window.location.href='./mensagemEnviada'"
              class="btn btn-lg btn-primary">Enviar
              mensagem</button>
          </form>
          </form>
      </di>
    </div>
  </main>
  <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-area text-center">
              <p> &copy; 2023 - Direitos reservados a Recode Brasil Agência de Viagens</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
</body>

</html>